<%= '<a href="/edit/about" style="margin-top: 5px; margin-right: 5px; font-size:18px;" class="pull-right"><img src="/img/edit.png" height="16px;"> Edit</a>' if admin?  %>
<div class="block">
	<%= Maruku.new(@about.text).to_html if @about%>
</div>