<div><%= @meldung %></div>
<div class="block">
	<form action="/edit/about" method="post" class="pure-form">
	  <textarea name="mdtext" class="pure-input-1 mBottom" rows="25"><%= @about.text if @about%></textarea>
	  <input type="submit" value="Speichern" id="submit" class="pure-button pure-button-primary pure-button-small pull-right">
	</form>
	<div style="clear:both; font-size:0px">&nbsp;</div>
</div>
