<div><%= @meldung %></div>
<form action="/add/text" method="post" >
  <h1>Write something</h1>
  <input type="text" name="title" class="input-block-level" placeholder="Titel" value="<%= @title if @title %>">
  <textarea name="mdtext" class="input-block-level" rows="15"><%= @mdtext if @mdtext%></textarea>
  <input type="submit" value="Speichern" id="submit" class="btn btn-primary pull-right">
</form>