<div><%= @meldung %></div>
<form action="/add/text" method="post" class="pure-form">
  <h1>Write something</h1>
  <input type="text" name="title" class="pure-input-1 mBottom" placeholder="Titel" value="<%= @title if @title %>">
  <textarea name="mdtext" class="pure-input-1 mBottom" rows="15"><%= @mdtext if @mdtext%></textarea>
  <input type="submit" value="Speichern" id="submit" class="pure-button pure-button-primary pure-button-small pull-right">
</form>
<div style="clear:both; font-size:0px">&nbsp;</div>