<h1>Be productive!</h1>
<br>
<div class="pull-left" style="margin-right:30px;">
	<a href="/add/music">	
		<img src="/img/music.png" height="42" width="42"> <br>
		<span>music</span>
	</a>
</div>

<div class="pull-left" style="margin-right:30px;">
	<a href="/add/text">
		<img src="/img/text.png" height="42" width="42"> <br>
		<span>text</span>
	</a>
</div>

<div class="pull-left" style="margin-right:30px;">
	<a href="/add/video">
		<img src="/img/youtube.png" height="42" width="42"> <br>
		<span>Youtube</span>
	</a>
</div>