<h1>Be productive!</h1>
<div class="pull-left pure-button" style="margin-right:20px;">
	<a href="/add/music">	
		<i class="icon-music"></i>
		<span>Music</span>
	</a>
</div>

<div class="pull-left pure-button" style="margin-right:20px;">
	<a href="/add/text">
		<i class="icon-pencil-2"></i>
		<span>Text</span>
	</a>
</div>

<div class="pull-left pure-button" style="margin-right:20px;">
	<a href="/add/video">
		<i class="icon-camera"></i>
		<span>Youtube</span>
	</a>
</div>
<div style="clear:both; font-size:0px">&nbsp;</div>