<%= '<a href="/edit/deals" style="margin-top: 5px; margin-right: 5px; font-size:20px;" class="pull-right"><i class="icon-pencil"></i> Edit</a>' if admin?  %>
<div class="block">
	<%= Maruku.new(@deals.text).to_html if @deals%>
</div>