<li class="dropdown">
  <a class="dropdown-toggle" href="#" data-toggle="dropdown">Login <strong class="caret"></strong></a>
  <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
    <form action="/login" method="post">
      <h2>Login</h2>
      <input type="text" placeholder="Username" name="username">
      <input type="password" placeholder="Passwort" name="pass">
      <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Sign In" />
    </form>
  </div>
</li>